body {
    background: grey;
   text-align: center;
}

#sun {
    font-style: italic;
    
}

.bullets {
    text-align: center;
}

.bullets {
    display: inline-block;
    
}

.rainPhotos {
    padding: 10px;
    display: flex;
    width: 100px;
    height: auto;
}

